@inject HomeViewModel ViewModel

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Zoekterm" @bind="ViewModel.SearchText" @oninput="FilterJobs" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <button type="submit" class="btn btn-primary" @onclick="FilterJobs">Zoek</button>
</div>

@code {
    private void FilterJobs()
    {
        ViewModel.FilterJobs();
    }
}