<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/InventoryApp.Shared/app.css"]" />
    <link rel="stylesheet" href="@Assets["InventoryApp.Web.styles.css"]" />
    <link rel="icon" type="image/x-icon" href="_content/InventoryApp.Shared/favicon.ico" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
