@page "/job"
@* /{jobId:guid?}" *@

<h1>Edit Job</h1>

@* <FluentTextField @bind-Value=CurrentJob.Name Label="Naam"></FluentTextField>
<FluentTextField @bind-Value=CurrentJob.Customer.Name Label="CustomerName"></FluentTextField>
<FluentTextField @bind-Value=CurrentJob.Venue.Name Label="VenueName"></FluentTextField>

<FluentDataGrid Items="@(Transactions)" RowSize="DataGridRowSize.Medium">
    <PropertyColumn Property="@(t => t.Product.Name)" Title="Product Name" Sortable="true" Width="1fr" />
    <PropertyColumn Property="@(t => t.Quantity)" Title="Quantity" Sortable="true" Width="1fr" />
    <TemplateColumn Width="1fr" Context="Transaction">
        <FluentButton IconStart="new Icons.Regular.Size20.Delete()" Appearance="Appearance.Accent" @onclick="() => DeleteTransaction(Transaction.Id)" />
    </TemplateColumn>
</FluentDataGrid> *@
